section {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.NavBarContainer {
    background-color: white;
    display: flex;
    justify-content: space-between;
}


.navicon {
    display: flex;
    background-color: #FBAF17;
    flex: 1; 
    justify-content: space-around;
    align-items: center;
    border-radius: 150px 0px 0px 150px;

}

.contactButton {
    width: 142px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #203220;
}



.bubbles {
    width: 156px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-right: 240px;
    margin-top: 0px;
    opacity: 0.8;
}

.shopLogo {
    width: 144.989px;
    height: 51.006px;
    flex-shrink: 0;
    margin-right: 262px;
}

.ButtonText {
    color: white
}

.dropbox:hover .dropmenu {
    display: flex;
    flex-direction: column;
}

.dropmenu {
   display: flex;
   flex-direction: column;
   display: none;
}

nav  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }

nav li {
    color: #203220;
    text-decoration: none;
    padding: 15px;
    list-style: none;
}

nav li text:hover {
   border-bottom: 2px solid #fff;
}





